@import 'src/App.scss';

.app-header {
  display: flex;
  min-width: 100%;
  min-height: 50px;
  align-items: center;
  background-color: $colorBlack;
  color: $colorWhite;
  padding: 0 2%;
  position: fixed;
}

.header-link-container {
  display: flex;
  flex-basis: 30%;
  justify-content: space-between;
  font-size: 20px;

  .header--nav-item {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    min-height: 50px;
  }

  .padded {
    padding: 0 2%;
  }
}

.active {
  border-bottom: 3px solid $colorWhite;
}

.home-icon {
  border-bottom: 3px solid $colorBlack;
}
